{% extends 'base.html' %}
{% load staticfiles %}
{% block styles %}
<style>
	.jumbotron {
		text-align: center;
	}
</style>
    {% endblock %}

{% block jumbotron %}
<!-- Main jumbotron for a primary marketing message or call to action -->
      <div class="jumbotron">
        <h1>Wellcome to Smartkart</h1>
        <p>This is a simple Ecommerce website. It includes a large amount of products with exclusive offers</p>
        {% if not request.user.is_authenticated %}
        <p> <a class=" btn btn-default button secondaryAction" href="{% url 'account_signup' %}">Create account</a></p>
        {% endif %}
      </div>
    {% endblock %}

{% block content %}
<div class="row">
        <div class="col-lg-4">
          <a href="#"><img src="{% static 'img/men.jpg' %}" class='img-responsive'/></a>
          {% if request.user.is_authenticated %}
           <p><a class="btn btn-default" href="{% url 'checkout' %}">Buy Now</a></p>
            {% else %}
            <p>login to Buy Now</p>
           {% endif %}
        </div>
        <div class="col-lg-4">
         <a href="#"><img src="{% static 'img/iphonex.jpg' %}" class='img-responsive'/></a>
         {% if request.user.is_authenticated %}
           <p><a class="btn btn-default" href="{% url 'checkout' %}">Buy Now</a></p>
           {% else %}
            <p>login to Buy Now</p>
           {% endif %}
       </div>
        <div class="col-lg-4">
        {% if user.is_authenticated %}
        <h3>Account Name:{{request.user}}</h3>
        {% else %}
          <form class="login" method="POST" action="/accounts/login/">
  {% csrf_token %}
  

<div id="div_id_login" class="form-group"> <label for="id_login" class="control-label  requiredField">
                Login<span class="asteriskField">*</span> </label> <div class="controls "> <input name="login" autofocus="autofocus" required="" placeholder="Username or e-mail" class="textinput textInput form-control" id="id_login" type="text"> </div> </div> <div id="div_id_password" class="form-group"> <label for="id_password" class="control-label  requiredField">
                Password<span class="asteriskField">*</span> </label> <div class="controls "> <input name="password" required="" placeholder="Password" class="textinput textInput form-control" id="id_password" type="password"> </div> </div> <div class="form-group"> <div id="div_id_remember" class="checkbox"> <label for="id_remember" class=""> <input name="remember" class="checkboxinput" id="id_remember" type="checkbox">
                    Remember Me
                </label> </div> </div>

  
  <a class=" btn btn-default button secondaryAction" href="{% url 'account_reset_password' %}">Forgot Password?</a>
  <a class=" btn btn-default button secondaryAction" href="{% url 'account_signup' %}">Signup</a>

  <button class="btn btn-default primaryAction" type="submit">Sign In</button>
</form>
{% endif %}
        </div>
      </div>
{% endblock %}

